<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Empleado</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen p-6">
<header class="bg-white shadow mb-6">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center gap-4">
            <h1 class="text-xl font-semibold text-gray-800">Bienvenido, {{ request.user.username }}</h1>
        </div>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
                Cerrar sesión
            </button>
        </form>
    </div>
</header>
<div class="mx-auto bg-white p-6 rounded-xl shadow-md">
    <h1 class="text-3xl font-bold text-green-600 mb-6">Panel de Empleado</h1>
     {% include "productos.html" %}
     {% include "notify.html" %}
</div>
</body>
<script>
async function refreshToken() {
    const refreshToken = sessionStorage.getItem("refreshToken");
    if (refreshToken) {
        await fetch('/api/token/refresh/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({refresh: refreshToken})
        })
            .then(response => response.json())
            .then(data => {
                if (data.access) {
                    sessionStorage.setItem('accessToken', data.access);
                } else {
                    alert('No se pudo obtener un nuevo token');
                }
            })
            .catch(error => console.error('Error al refrescar el token:', error));
    }
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (const element of cookies) {
            const cookie = element.trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
</html>
